/* Reveal Functionality */
/* .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
} */
/* ------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .container_main_for_header {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Adjust values as needed */
    position: fixed;
    width: 100%;
    z-index: 1;
}

#logo {
    background-color: #1F2937;
    padding: 1.1vw;
    margin-left: 2vw;
}

#logo p {
    color: #D8B4FE;
    font-size: 3vw;
}

#logo a {
    text-decoration: none;
}

.container_top_for_header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    height: 6vw;
    padding: 0vw 2vw;
}

.navigation_right {
    display: flex;
    align-items: center;
}

.navigators ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navigation_right .navigators .nav_link_buttons {
    position: relative; /* Set position relative to allow absolute positioning of pseudo-elements */
}

.navigation_right .navigators .nav_link_buttons::before,
.navigation_right .navigators .nav_link_buttons::after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #9333EA;
    transition: width 0.3s ease;
}

.navigation_right .navigators .nav_link_buttons::before {
    left: 0;
}

.navigation_right .navigators .nav_link_buttons::after {
    right: 0;
}

.navigation_right .navigators .nav_link_buttons:hover::before,
.navigation_right .navigators .nav_link_buttons:hover::after {
    width: 100%;
}

.navigation_right .navigators ul svg {
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 0.1vw;
    cursor: pointer;
    max-width: 1.5vw;
}

.nav_link_buttons {
    margin-right: 1.1vw;
    background: transparent;
}

.nav_link_buttons a {
    text-decoration: none;
    color: #fff;
    padding: 0.65vw 1vw;
    border-radius: 10px;
    display: block;
    font-size: 1.1vw;
}

.login_signup_buttons button {
    padding: 0.65vw 1vw;
    background-color: #C084FC; /* Matching theme color */
    border: none;
    border-radius: 10px;
    margin-left: 1.1vw;
    font-size: 1.1vw;
    color: white; /* Text color */
    cursor: pointer;
    transition: 0.3s ease; /* Smooth transition */
}

.login_signup_buttons button:hover {
    background-color: #A56CFD; /* Darker shade on hover */
    transform: translateY(-2px); /* Move button slightly upwards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

#separator_line {
    width: 100%;
    height: 0.08vh;
    background-color: #fff;
}

.container_bottom_for_header {
    background-color: #1F2937;
    height: 2.5vw;
    text-align: center;
    padding: 0.7vw;
}

#live_running_updates {
    background-color: #1F2937;
    color: rgb(156 163 175);
    font-size: 1.05vw;
    font-weight: 500;
    letter-spacing: 3px;
}

#menu_icon {
    color: #D8B4FE; /* Icon color */
    font-size: 2vw; /* Adjust icon size */
    margin-right: 20px; /* Adjust spacing from other elements */
    display: none;
}

.content_page_first {
    background-color: #111827;
    width: 100%;
    height: 26.3vw;
    display: flex;
    flex-direction: row;
    padding-top: 8.55vw;
}

.division_content_page_first_left {
    width: 55%;
    height: 25vw;
}

.division_content_page_first_left #title {
    padding: 4vw 4vw;
    font-size: 1.5vw;
}

.division_content_page_first_right {
    width: 45%;
    height: 25vw;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.division_content_page_first_right img {
    max-width: 100%;
    max-height: 100%;
    filter: brightness(0.6);
    background: transparent;
    z-index: 0;
}

.content_page_first .division_content_page_first_left #title {
    color: #fff;
    font-size: 1.5vw;
}

.content_page_first .division_content_page_first_left #title span {
    color: #9333EA;
}

.content_page_first .division_content_page_first_left #title #h_2 {
    margin-top: 1.5vw;
    color: #fff;
    font-size: 2vw;
    text-align: center;
}

.content_page_first .division_content_page_first_left #title p {
    margin-top: 2vw;
    color: rgb(156 163 175);
    font-size: 1.2vw;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6vw;
}

.content_page_second {
    background-color: #111827;
    width: 100%;
    height: 152.3vh;
    display: flex;
    flex-direction: column;
    padding-top: 10vw;
}

.heading_as_separator {
    background: transparent;
    width: 100% ;
    height: 3vw;
}

.heading_as_separator #h_1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: transparent;
    width: 100%;
    height: 2.5vw;
    font-size: 1.7vw;
    justify-content: center;
    margin-top: 0.5vw;
    color: #9333EA;
}

#recommendation_cards {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.recommendation_card svg {
    width: 1.7vw;
}

.recommendation_card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    min-width: 40vw;
    height: auto;
    background-color: #374151;
    padding: 1.5vw;
    color: #9CA3AF;
    border-radius: 5px;
    margin: 3vw 2vw;
}

#recommendation_cards .recommendation_card p {
    margin-top: 1vw;
    margin-bottom: 2vw;
    font-size: 1.1vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 3px;
    line-height: 2vw;
}

#recommendation_cards .recommendation_card h3 {
    color: #fff;
    font-size: 1.5vw;
}

#recommendation_cards .recommendation_card h4 {
    font-size: 1vw;
}

/* Media Queries Starts */

@media (min-width: 361px) and (max-width: 700px) {
    .navigators {
        display: none;
    }
    
    .login_signup_buttons {
        display: none;
    }
    #menu_icon {
        display: block;
        cursor: pointer;
    }
    .container_main_for_header {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        justify-content: center;
    }
    .container_top_for_header {
        display: flex;
        align-items: center;
        background-color: #1F2937;
        height: 6vw;
        padding: 0 20px;
    }
    .division_content_page_first_right {
        display: none;
    }

  
    .content_page_first .division_content_page_first_left #title #h_1 {
        font-size: 4.5vw;
    }
    .content_page_first .division_content_page_first_left #title #h_2 {
        font-size: 3.5vw;
        margin-top: 4.5vw;
        margin-bottom: 4.5vw;
    }
    .content_page_first .division_content_page_first_left #title p {
        font-size: 2.2vw;
        text-align: center;
        line-height: 3vw;
        min-width: 85%;
    }
    .division_content_page_first_left {
        width: 100%;
        height: 25vw;
        text-align: center;
        transition: all 0.7s ease-out;
    }

    .content_page_first .division_content_page_first_left #title p {
        margin: 2vw auto;
        width: 75%;
    }
    #recommendation_cards {
        flex-direction: column;
        margin: 10vw calc(100% - 82vw);
        width: 0%;
    }
    .recommendation_card {
        width: 60vw;
        margin: 3vw 2vw;
    }  
    #recommendation_cards #recommendation_card_second_child {
        margin-left: 2vw;
    }
    .heading_as_separator #h_1 {
        width: 100%;
        height: 2.5vw;
        padding-top: 5vw;
        font-size: 4.2vw;
    }
    .content_page_first {
        width: 100%;
        min-height: 40vw;
        display: block;
        transition: all 0.7s ease-out;
    }
    .content_page_second {
        width: 100%;
        height: 103vh;
        display: block;
    }
}

@media (max-width: 360px) {
    html, body {
        width: auto;
        height: 100%;
        margin: 0; /* Remove default margins */
        padding: 0; /* Remove default padding */
        /* overflow-x: hidden; Optional: hide horizontal scrollbar */
    }
    .navigators {
        display: none;
    }
    
    .login_signup_buttons {
        display: none;
    }
    #menu_icon {
        display: block;
        cursor: pointer;
        font-size: 3vh;
    }
    .container_main_for_header {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        justify-content: center;
    }
    .container_bottom_for_header {
        background-color: #1F2937;
        height: 5.5vw;
        text-align: center;
        padding-top: 1.5vw;
    }
    .container_top_for_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #1F2937;
        height: 15vw;
        padding: 0 20px;
    }
    #live_running_updates {
        font-size: 2.5vw;
        font-weight: 500;
        letter-spacing: 2px;
    }
    #logo p {
        color: #D8B4FE;
        font-size: 7vw;
    }
    .division_content_page_first_right {
        display: none;
    }
    .content_page_first .division_content_page_first_left #title #h_1 {
        font-size: 3.7vw;
    }
    .content_page_first .division_content_page_first_left #title #h_2 {
        font-size: 3.5vw;
        margin-top: 4.5vw;
        margin-bottom: 4.5vw;
    }
    .content_page_first .division_content_page_first_left #title p {
        font-size: 2.2vw;
        text-align: center;
        line-height: 3vw;
        min-width: 85%;
    }
    .division_content_page_first_left {
        width: 100%;
        height: 25vw;
        text-align: center;
        transition: all 0.7s ease-out;
    }

    .content_page_first .division_content_page_first_left #title p {
        margin: 2vw auto;
        width: 75%;
    }
    #recommendation_cards {
        flex-direction: column;
        padding: 5vw 0vw 0vw 10vw;
        width: 100%;
    }
    .recommendation_card {
        width: 75vw;
        padding-left: 5vw;
        padding-bottom: 5vw;
    }  
    #recommendation_cards .recommendation_card svg {
        width: 2.6vw;
    }
    #recommendation_cards .recommendation_card p {
       font-size: 3vw;
        line-height: 5vw;
    }
    #recommendation_cards .recommendation_card h3 {
        margin-top: 5.5vw;
        font-size: 3vw;
    }
    #recommendation_cards .recommendation_card h4 {
        font-size: 2.4vw;
    }
    .heading_as_separator #h_1 {
        width: 100%;
        height: 2.5vw;
        font-size: 4vw;
    }
    .content_page_first {
        width: 100%;
        min-height: 40vw;
        display: block;
        transition: all 0.7s ease-out;
    }
    .content_page_second {
        width: 100%;
        height: 103vh;
        display: block;
    }
}
